<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RDP_FrontEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <RDP_FrontEnd.Properties.Settings>
      <setting name="SQLInstance" serializeAs="String">
        <value>DEFAULT</value>
      </setting>
      <setting name="SQLdb" serializeAs="String">
        <value>ClientHealth</value>
      </setting>
      <setting name="SQLtable" serializeAs="String">
        <value>Clients</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>Contoso</value>
      </setting>
      <setting name="RDP_ComputerGroup_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RDP_UserGroup_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SQLServer" serializeAs="String">
        <value>ClientHeatlhDB.contoso.com</value>
      </setting>
      <setting name="RDP_ComputerGroup" serializeAs="String">
        <value>RDPGW Computers Allowed</value>
      </setting>
      <setting name="RDP_UserGroup" serializeAs="String">
        <value>RDPGW Users Allowed</value>
      </setting>
    </RDP_FrontEnd.Properties.Settings>
  </applicationSettings>
</configuration>